.login__input {
  width: 358px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: 0;
  border-bottom: 2px solid #cccccc;
  background-color: black;
  box-sizing: border-box;
  margin: 0 0 30px 0;
  padding-bottom: 13px;
  outline: none;
}
