.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: auto;
  background-image: url("../../../images/profile__add-button_image.svg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity ease 0.5s;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 680px) {
  .profile__add-button {
    margin: 36px auto 0;
  }
}

@media screen and (max-width: 400px) {
  .profile__add-button {
    margin: 36px 19px 0;
    width: 100%;
  }
}
