.header__auth {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  padding: 0;
  background-color: transparent;
  outline: 0;
  transition: opacity ease 0.5s;
  text-decoration: none;
}

.header__auth:hover {
  opacity: 0.6;
  cursor: pointer;
}
