.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-image: url("../../../images/profile__edit-button_image.svg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 19px;
  transition: opacity ease 0.5s;
  outline: none;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .profile__edit-button {
    margin-right: auto;
    margin-top: 14px;
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
